<mat-toolbar color="accent">

    <button mat-button class="router-links" routerLinkActive="active-link" routerLink="home">
     
        <img src="../assets/images/logo1.png" widht="100" height="60"></button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm >
        <app-menu-item [displayItems]="menus"></app-menu-item>
        
    </div>
    
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <app-menu-item [displayItems]="menus" (onVoted)="parentfunction($event)" (onTestEvent)="parentfunction($event)"></app-menu-item>
    
    <!--<button mat-menu-item>Help</button>-->
</mat-menu>


<nav>


</nav>
