<div>
  <form [formGroup]="schedulingForm" (ngSubmit)="submitForm()">
    <div formGroupName="userdata">
      <mat-form-field>
        <input formControlName="username" name="username" matInput placeholder="Enter username"
        />
        <mat-error *ngIf="schedulingForm.get('userdata.username').invalid">Username is required.</mat-error>            
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" name="email" matInput placeholder="Enter Email" 
        />

        <mat-error *ngIf="schedulingForm.get('userdata.email').errors?.required">Email id is required.</mat-error>            
        <mat-error *ngIf="!schedulingForm.get('userdata.email').errors?.required && schedulingForm.get('userdata.email').errors?.email">Email id is not valid.</mat-error>            

      </mat-form-field>
    </div>
    <mat-form-field>
      <input formControlName="phoneNumber" name="phoneNumber" matInput placeholder="Enter phoneNumber"
      />
      <mat-error *ngIf="schedulingForm.get('phoneNumber').invalid">Phone Number is required.</mat-error>            
    </mat-form-field>

    <div>
        Hobbies: <button (click)="addHobbies()">Add Hobbies</button>

        <div formArrayName="hobbies">
          <h3>Your Hobbies:</h3>
          <div *ngFor="let field of schedulingForm.get('hobbies').controls; let i=index">
            <mat-form-field>
              <input formControlName="{{i}}" name="field_{{i}}" matInput placeholder="Enter username"
              />
            </mat-form-field>
          </div>
        </div>


    </div>


    <button mat-raised-button type="submit">Create Scheduling</button> 
  </form>
</div>

